// .eslintrc
{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "plugins": [
        "prettier",
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb-typescript",
        "react-app",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    },
    "rules": {
        "semi": "off",
        "@typescript-eslint/semi": "off",
        "no-param-reassign":"off",
        "no-console":"off",
        "object-curly-spacing": [
            "warn",
            "always"
        ],
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "max-len": [
            "off"
        ],
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "react/jsx-key": "error",
        "prettier/prettier": [
            "error",
            {
                "semi": false,
                "singleQuote": true,
                "trailingComma": "none"
            }
        ],
        "react/jsx-props-no-spreading": "off",
        "import/prefer-default-export": "off",
        "react/jsx-boolean-value": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-wrap-multilines": "off",
        "react/destructuring-assignment": "off",
        "react/prefer-stateless-function": "off",
        "no-underscore-dangle":"off",
        "import/no-named-as-default":"off",
        "prefer-const":"off",
        "import/no-extraneous-dependencies":"off",
        "@typescript-eslint/camelcase": "off",
        "no-return-assign":"off",
        "react/static-property-placement": "off",
        "@typescript-eslint/indent":"off",
        "consistent-return": "off"
    }
}
